body {
    background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    clear: both;
}

footer {
    position: fixed;
    background-color: white;
    color: #333333;
    bottom: 0;
    Width: 100%;
    text-align: center;
}